* {
    padding: 0px;
    margin: 0px;
}

:root {
    --principalfont: 'Montserrat', sans-serif;
    --black: #000000;
    --sky: #23a0ac;
}

body {
    font-family: var(--principalfont);
}

hr {
    border: 0.5px solid;
    opacity: 1;
}

li {
    list-style-type: none;
}

/* CAROUSEL */
.header-carousel {
    padding-top: 4.1rem;
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.main-carousel {
    max-width: 112.5rem;
}

/* NAV */
.navbar-brand img {
    max-width: 2.5rem;
}

.nav-link {
    transition: all 1s;
}

.nav-link:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}


/* MAIN CONTENT */
.main-content {
    background-color: var(--black);
}

.main-content__sky {
    background-color: var(--sky);
}

.col {
    padding: 0px;
}

.lines {
    color: var(--sky);
}

/* WHO SECTION */
#us {
    padding-top: 3rem;
}

/* CARDS */
.card {
    min-height: 30rem;
    margin-top: 5rem;
    transition: all 1s;
}

.card-img-top {
    max-height: 194.36px;
    max-width: 291.5px;
}

.card-body {
    background-color: var(--sky);
}

.card-title {
    font-size: 1.5rem;
}

.card:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

/* CONTACTO */
#contact {
    margin-top: 2rem;
}

.contact {
    padding-bottom: 5rem;
}

/* FOOTER */
.footer {
    display: grid;
    grid-template-columns: 2fr 0.7fr;
}

.footer-content {
    display: inline-block;
    padding: 0 auto;
}

.footer-list {
    display: inline-block;
    margin: 0px;
    padding-top: 1rem;
}

.footer-item {
    display: inline;
    padding-right: 1.3rem;
}

.fab {
    transition: all 1s;
}

.fab:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.footer-title {
    margin: 0px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1400px) {

    /* CARDS */
    .card {
        min-height: 31rem;
    }

    .card-img-top {
        max-height: 164.69px;
    }

    .card-body {
        background-color: var(--sky);
    }

    .card-title {
        font-size: 1.5rem;
    }

    /* FOOTER */
    .footer {
        display: grid;
        grid-template-columns: 1.5fr 0.7fr;
    }
}

@media screen and (max-width: 1200px) {

    /* CARDS */
    .card {
        min-height: 35rem;
    }

    .card-img-top {
        max-height: 134.69px;
    }

    .card-body {
        background-color: var(--sky);
    }

    .card-title {
        font-size: 1.2rem;
    }

    /* FOOTER */
    .footer {
        display: grid;
        grid-template-columns: 1.3fr 0.7fr;
    }

    .footer-content {
        display: block;
    }
}

@media screen and (max-width: 992px) {

    /* NAV */
    .nav-link:hover {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        transition: 1s;
    }

    /* CARDS */
    .card {
        min-height: 35rem;
        min-width: 15rem;
    }

    .card-img-top {
        min-width: 20.9rem;
        max-height: 222.96px;
    }

    .card-body {
        background-color: var(--sky);
    }

    .card-title {
        font-size: 1.8rem;
    }

    /* FOOTER */
    .footer {
        display: block;
        text-align: center;
    }

    .footer-content {
        display: inline-block;
        padding: 0 auto;
        text-align: center;
    }
    
    .footer-list {
        display: inline-block;
        margin: 0px;
        padding: 0px;
    }
    
    .footer-item {
        display: inline;
        padding: 0px;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}

@media screen and (max-width: 769px) {

    /* WHO SECTION */
    #us {
        display: none;
    }

    .to-disable {
        display: none;
    }

    /* CARDS */
    .col {
        display: flex;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .card {
        width: 62%;
    }

    .card-img-top {
        min-width: 100%;
    }

    .card-body {
        background-color: var(--sky);
    }

    .card-title {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 542px) {

    /* CARDS */
    .col {
        display: flex;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .card {
        width: 62%;
        object-fit: cover;
    }

    .card-img-top {
        min-width: 100%;
    }

    .card-body {
        background-color: var(--sky);
    }

    .card-title {
        font-size: 1.5rem;
    }
}