* {
    padding: 0px;
    margin: 0px;
}

:root {
    --principalfont: 'Montserrat', sans-serif;
    --black: #000000;
    --sky: #00bfff;
}

hr {
    border: 3px solid;
    opacity: 1;
}

body {
    font-family: var(--principalfont);
}

/* NAV */
.navbar {
    z-index: 100;
}

.navbar-brand img{
    max-width: 2.5rem;
}

/* MAIN CONTENT */
.main-content {
    background-color: var(--black);
}

.main-content__sky {
    background-color: var(--sky);
}

.col {
    padding: 0px;
}

.lines {
    color: var(--sky);
}

/* CARDS */
.card {
    min-height: 30rem;
}

.card-img-top {
    max-height: 194.36px;
    max-width: 291.5px;
}

.card-body {
    background-color: var(--sky);
}

.card-title {
    font-size: 1.5rem;
}

/* CONTACTO */
.contact {
    padding-bottom: 5rem;
}

